
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.image-parrafo{
  padding: 10px;
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  
}

.img-btn{
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 10px;
}

.img-btn img{
width: 400px;
position: relative;
}

.btn{
  position: absolute;
  top: 520px;
  right: 732px;
}

ul li button{
  width: 80px;
  height: 45px;
  border: none;
  background-color: rgb(227, 224, 224);
}

.btn :hover{
  background-color: black;
}

ul li button i{
  color: rgb(245, 239, 239);
}

.btn ul{
  display: flex;
}

.btn ul li{
  list-style: none;
}

.btn ul li a{
  text-decoration: none;
}

.textos{
  width: 400px;
  margin-top: 100px;
  margin-left: 130px;
}


.textos .titulo{
  color: rgb(60, 41, 41);
  margin-bottom: 50px;
  font-size: 21px;
  font-family: font-family: 'Playfair Display', serif;
  
}

.textos .texto-claro{
  margin-bottom: 30px;
  color: gray;
  font-size: 12px;
  font-family: font-family: 'Mukta', sans-serif;
  font-family: 'Playfair Display', serif;
}

.textos .texto-oscuro{
margin-top: 20px;
color: rgb(46, 33, 33);
}








